// Media Queries
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        } //1800px
    }
}

// Variables
$p: 0.5rem;
$h: 2rem;
$m: 25rem; // height of the window_main section
$border-primary: 1px solid #dedede;
$border-radius: 7px 7px 0px 0px;
@include respond(phone) {
    $m: 15rem;
}

.window {
    border-radius: $border-radius;
    min-width: 15rem;
    max-width: 23rem;
    flex: 1;
    z-index: 1000;
    @include respond(tab-land) {
        min-width: 12rem;
        max-width: 23rem;
        // color: red;
    }
    @include respond(phone) {
        min-width: 100%;
        max-width: 100%;
        max-height: 70vh;
        // color: yellowgreen;
    }

    &__header {
        padding: $p;
        height: $h;
        border-radius: $border-radius;
        border: $border-primary;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: #ababab;
    }

    &__subject {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
        // background-color: #fff;
    }

    &__maximize {
        margin-left: $p;
        user-select: none;
        cursor: pointer;
        // background-color: lawngreen;
    }

    &__close {
        margin-left: $p;
        user-select: none;
        cursor: pointer;
        // background-color: khaki;
    }

    &__main {
        border: $border-primary;
        height: $m;
        padding: $p;
        max-height: 70vh;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
        // overflow-wrap: anywhere;
    }
    transition: all 0.2s linear;

    &.maximized {
        transform: translateY(unquote("max(#{-$m}, -60vh)")); // unquote is a temporary fix for max() incomaptibility
    }
}
